* {
  font-family: "Inter", sans-serif;
}
.mois {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: bold;
}
.days {
  border: 1px solid black;

  cursor: pointer;
}
.days_name {
  display: grid;
  grid-template-columns: repeat(7 , 1fr);
}
.day{
  display: flex;
  justify-content: center;
}
.milieu_calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  position: relative;
  width: 100%;
  
  
}
.days:hover:hover {
  background-color: #e9ecef;
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;

}
.pop_up {
  position: absolute;
  top: 0%;
  display: none;
}
#form{
  display: block;

}
#d6 ,#d7 , #d13 , #d14 , #d20 , #d21 , #d27 , #d28{
    background-color: gray;
    cursor: auto;
}
.days{
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 70px;
}
